.header {
  border-bottom: 1px solid rgb(218, 215, 215);
  font-family: 'Quicksand', sans-serif;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.5rem 8rem;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  background-color: rgba(249, 249, 249, 0.968);
}

.header a {
  text-decoration: none;
  color: black;
  transition: all 0.5s;
}

.main {
  font-size: 4rem;
}

.main:hover {
  transform: scale(1.1);
}

.right-nav {
  display: inline;
  font-size: 2.5rem;

  display: flex;
  gap: 10rem;
}

.right-nav a {
  color: #1971c2;
  font-size: 2rem;
}

.right-nav a:hover {
  transform: scale(1.2);
  color: #343a40;
}

.right-nav .active {
  padding: 4px 0;
  border-bottom: 1.5px solid rgb(38, 95, 186);
}

.btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;

  display: none;
}

.icon-mobile-nav {
  height: 4.8rem;
  width: 4.8rem;
  color: #333;
}

.icon-mobile-nav[name='close-outline'] {
  display: none;
}

@media (max-width: 59em) {
  html {
    font-size: 50%;
  }

  .btn-mobile-nav {
    display: block;
  }

  .right-nav {
    background-color: rgba(249, 249, 249, 0.968);
    position: absolute;
    top: 0;
    right: 0;
    height: 100vh;
    width: 70%;

    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 8rem;

    padding: 10rem 10rem 0 5rem;

    opacity: 0;
    visibility: hidden;
    pointer-events: none;

    transform: translateX(100%);
    transition: all 0.5s ease-in;
  }

  .right-nav a {
    font-size: 4rem;
  }

  .nav-open .right-nav {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0);
  }

  .nav-open .icon-mobile-nav[name='close-outline'] {
    display: block;
  }

  .nav-open .icon-mobile-nav[name='menu-outline'] {
    display: none;
  }
}

@media (max-width: 26em) {
  .main {
    font-size: 3.2rem;
  }
}
