* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  background-color: rgb(246, 246, 246);
  font-family: 'Quicksand', sans-serif;
  overflow-x: hidden;
}

.home-container {
  max-width: 140rem;
  margin: 15rem 2rem 0 2rem;
}

.me {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8rem;
}

.me img {
  width: 30rem;
  height: 30rem;
}

.about {
  font-family: 'Quicksand', sans-serif;
  max-width: 65rem;
  text-align: justify;
  background-color: #e9ecef;
  padding: 2rem 2rem;
  font-size: 1.8rem;
  letter-spacing: 0.5px;
  font-weight: bolder;
  border: 0.1rem solid #e9ecef;
  border-radius: 1rem;
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.1);
}

.images img {
  height: 6rem;
  width: 6rem;
  margin-right: 10px;
}

.stack {
  margin: 8rem auto;

  display: flex;
  align-items: center;
  justify-content: space-around;
}

.stack-header {
  font-weight: bold;
  font-size: 3.8rem;
}

.stack-images {
  margin: 10rem 0;
  height: 39rem;

  display: grid;
  grid-template-columns: repeat(4, 15rem);
  grid-template-rows: repeat(4, 13rem);
  align-items: center;
  justify-items: center;
}

.stack-images div {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 13rem;
  width: 15rem;
}

.stack-images div:nth-child(odd) {
  background-color: #5d4dac;
}

.stack-images div:nth-child(even) {
  background-color: #865ff6;
}

.stack-images div:nth-child(5) {
  background-color: #865ff6;
}

.stack-images div:nth-child(6) {
  background-color: #5d4dac;
}

.stack-images div:nth-child(7) {
  background-color: #865ff6;
}

.stack-images div:nth-child(8) {
  background-color: #5d4dac;
}

.stack-images p {
  font-size: 1.2rem;
}

.images-contact {
  margin: 0rem 8rem;

  display: flex;
  justify-content: center;
}

.images-contact img {
  height: 4rem;
  width: 4rem;
  margin-right: 1rem;
}

.images-contact a:link {
  margin: 0 2rem;
  text-decoration: none;
}

.images-contact span {
  color: black;
  font-size: 2rem;

  margin: 1rem 1rem;
}

@media (max-width: 750px) {
  .stack {
    flex-direction: column;
    margin: 8rem 0 0 0;
  }

  .images-contact span {
    display: none;
  }
}

@media (max-width: 688px) {
  .images-contact span {
    display: none;
  }
}

@media (max-width: 550px) {
  .me {
    flex-direction: column;
  }
}

@media (max-width: 500px) {
  .stack-images {
    display: grid;
    grid-template-columns: repeat(4, 11rem);
    grid-template-rows: repeat(3, 12rem);
    align-items: center;
    justify-items: center;
  }

  .stack-images div {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 12rem;
    width: 11.5rem;
  }

  .images img {
    height: 4rem;
    width: 4rem;
    margin-right: 6px;
  }
}

@media (max-width: 350px) {
  .stack-images {
    display: grid;
    grid-template-columns: repeat(3, 11rem);
    grid-template-rows: repeat(auto, 10rem);
    align-items: center;
    justify-items: center;
  }
}
/* @media (max-width: 26em) {
  .me {
    flex-direction: column;
  }

  .stack {
    flex-direction: column;
  }

  .images-contact span {
    display: none;
  }
} */
