.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8rem;

  margin-top: 15rem;
}

.projects img {
  width: 55rem;
  height: 30rem;
  border: 1px solid rgb(236, 234, 234);
  border-radius: 16px;
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.1);
}

.project {
  display: flex;
  align-items: center;
  justify-content: space-around;

  max-width: 140rem;
  gap: 10rem;
}

.project-description {
  font-size: 1.4rem;
  max-width: 50rem;
}

.project-description p {
  margin-bottom: 3rem;
}

.project a {
  transition: all 0.5s;
}

.project a:link,
a:visited {
  text-decoration: none;
  color: black;
  padding: 4px 6px;
  border: 2px solid rgb(30, 30, 30);
  border-radius: 16px;

  width: 8.4rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.project a:hover {
  transform: scale(1.1);
}

.project .links {
  display: flex;
  gap: 15px;

  margin-bottom: 1rem;
}

.project-description .acc {
  color: rgb(232, 103, 103);
}

@media (max-width: 900px) {
  .project {
    flex-direction: column;
    gap: 4rem;
    align-items: stretch;
  }
  .project-description {
    padding: 0 2rem;
    font-size: 1.2rem;
  }
  .projects img,
  .project img {
    width: 100%;
    max-width: 40rem;
    height: auto;
  }
}

@media (max-width: 600px) {
  .projects {
    margin-top: 11rem;
    gap: 4rem;
  }
  .project-description {
    padding: 0 1rem;
    font-size: 1rem;
  }
  .projects img,
  .project img {
    max-width: 100%;
    height: auto;
  }
}
