.experience {
  background-color: #dbe4ff;
  height: 450px;
  width: 600px;
  margin: 100px auto;
  text-align: center;
  padding: 40px 40px;
  border: 1px solid #dbe4ff;
  border-radius: 10px;
  line-height: 1.8;
}

.experience img {
  width: 100px;
  height: 100;
}

li {
  list-style-position: inside;
  list-style-type: square;
  line-height: 1.8;
}
