.experiences {
  font-size: 1.4rem;
  margin: 12rem 0;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 10rem;
}

.experience {
  background-color: #dbe4ff;

  max-width: 60rem;
  text-align: center;
  padding: 4rem 4rem;
  border: 1px solid #dbe4ff;
  border-radius: 10px;
  line-height: 1.8;
}

.experience img {
  width: 10rem;
  height: 100;
}

.experience .yellofix {
  font-size: 4.4rem;
  font-style: italic;
  font-weight: 700;
  color: #fab005;
}

.yellofix span {
  color: black;
}

li {
  list-style-position: inside;
  list-style-type: square;
  line-height: 1.8;
}

@media (max-width: 26em) {
  .experience {
    max-width: 45rem;
    font-size: 1.2rem;
  }
}
