.header {
  margin: 6rem auto;
  border-bottom: 1px solid rgb(218, 215, 215);

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 4.8rem;
}

.header a {
  text-decoration: none;
  color: black;
  transition: all 0.5s;
}

.main {
  font-size: 40px;
  padding-bottom: 40px;
}

.main:hover {
  transform: scale(1.1);
}

.right-nav {
  display: inline;
  font-size: 25px;
  padding-bottom: 40px;

  display: flex;
  gap: 100px;
}

.right-nav a {
  color: rgb(64, 125, 222);
}

.right-nav a:hover {
  transform: scale(1.2);
  color: #343a40;
}

.right-nav .active {
  padding: 4px 0;
  border-bottom: 1.5px solid rgb(38, 95, 186);
}
