.research {
  display: flex;
  align-items: center;
  justify-content: center;
}

.research img {
  width: 400px;
  height: 500px;
  margin: 100px 0;
}

.research-intro img {
  width: 600px;
  height: 400px;
  margin: 100px 0;
}

.research p {
  width: 900px;
  text-align: center;
  font-weight: 700;
  line-height: 1.8;
}
